<!DOCTYPE html>
<html>
  <head>
    <title>- <%= yield(:title) %></title>
<!-- <head>
  <title>Chr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head> -->
</head>
<body>
<%= link_to 'Index', events_path %>
<%= link_to 'homw', 'static_pages/home' %>
<%= yield %>

</body>
</html>
