<!DOCTYPE html>
<html>
  <head>
    <title>- <%= full_title(yield(:title))%></title>
<!-- <head>
  <title>Chr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head> -->
</head>
<body>
<%= link_to 'events', events_path %>
<%= link_to 'Home', home_path %>
<%= link_to 'About', about_path %>
<%= yield %>

</body>
</html>
